[2022-04-04 11:07] UniMa007 commented on #969
Thanks for the rapid feedback! Will take a deeper look into it and report back, thanks

[2022-04-07 05:50] jeswr opened #971 "Feat: Performance testing"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

Draft bounty description for https://github.com/RubenVerborgh/AsyncIterator/issues/62 - to add performance testing to Comunica, and critical upstream packages via CI/CD.

I would imagine that in general, the workflow would update a file of test results if there is a performance improvement, and error if there is a perfo

[2022-04-11 07:14] rubensworks commented on #676
@jeswr Do you think this is not a contributing factor anymore?

comunica-sparql-file doesn't include QPF actors, so I don't think that `RdfSourceQpf` will be related to it here.
Nevertheless, `cachedQuads` should probably become an LRU cache there to avoid memory issues.

[2022-04-11 08:28] jeswr commented on #676
@rubensworks - I wasn't sure whether or not local files were using N3.js hence that statement. Regardless, it is fixed in the latest version of N3.js and I have a couple of PRs ready to go for that library that will improve the performance further.

The main source of slowdown almost definitely arises from problems that we are working on in AsyncIterator.

Namely:
   - map/filter's had an exponent

[2022-04-11 08:39] jacoscaz commented on #676
RE: cloning in asynciterator, I'll be working on it right after wrapping, which is what I'm currently working on.

[2022-04-11 09:39] rubensworks commented on #676
That's really awesome work @jeswr and @jacoscaz, I'm very excited to play around with your changes soon!

[2022-04-11 11:26] rubensworks opened #975 "Random integration test failures"
#### Issue type:

- :bug: Bug

____
#### Description:

Random integration tests fail, possibly because fetch is happening after test has already ended.

Possibly related to https://github.com/comunica/comunica/commit/9ad64da7bae9dda857e12b7bb0b3af58d5f0f2af

____
#### Environment:

Latest master

#### Crash log:

[code]

[2022-04-12 09:35] jeswr opened #977 "Chore: remove unecessary transform calls"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

In order to take full advantage of https://github.com/RubenVerborgh/AsyncIterator/pull/59 we should remove any `.transform` calls that just make use of a `map` or `filter` https://github.com/RubenVerborgh/AsyncIterator/issues/44#issuecomment-1066207076.

[2022-04-12 11:41] rubensworks commented on #977
The reason we use `.transform` instead of direct `map` and `filter` calls, is because of the `autoStart` flag. If we would move to `map` and `filter`, then they'd need a `autoStart` flag as well. (Unless https://github.com/RubenVerborgh/AsyncIterator/issues/25 is resolved before that)

[2022-04-12 14:17] rubensworks commented on #975
Duplicate of #947

[2022-04-12 14:17] #975 closed, assigned to nobody

[2022-04-12 14:18] #957 closed

[2022-04-14 12:12] ragnorc commented on #594
Seems like RDF* is now supported in N3.js and Sparql.js.
What would be left to do to get this supported in Comunica? Happy to help!

[2022-04-14 16:56] jaxoncreed opened #978 "Link Traversal"
#### Issue type:

- :question: Question

____
#### Question:

Hey all, I asked @RubenVerborgh if Comunica has link traversal, and he said it did, but I can't find any documentation on that.

I tried to set up a SPARQL query in the editor to prove that it supports link traversal (http://query.linkeddatafragments.org/#datasources=https%3A%2F%2Fjackson.solidcommunity.net%2Fprofile%2Fcard%23me&query=S

[2022-04-14 19:09] RubenVerborgh commented on #978
Then you have not seen https://comunica.github.io/comunica-feature-link-traversal-web-clients/builds/default/#datasources=https%3A%2F%2Fjackson.solidcommunity.net%2Fprofile%2Fcard%23me&query=SELECT%20%3Ffriend%20%3FfriendName%20WHERE%20%7B%0A%09%3Chttps%3A%2F%2Fjackson.solidcommunity.net%2Fprofile%2Fcard%23me%3E%20%3Chttp%3A%2F%2Fxmlns.com%2Ffoaf%2F0.1%2Fknows%3E%20%3Ffriend.%0A%20%20%20%20%3Ffrie

[2022-04-14 21:14] jaxoncreed commented on #978
Wow! That's super cool. Do you know where the documentation on how to enable that feature is?

[2022-04-14 22:33] RubenVerborgh commented on #978
Super, let us know if you have further questions!

[2022-04-14 22:33] #978 closed

[2022-04-15 06:26] jeswr commented on #594
For parsing yes - for the store itself there is still an open issue around this https://github.com/rdfjs/N3.js/issues/256. In particular, for performance I would suggest that

1) The match method be extended to handle reified data
2) The indexing method for reified quads be re-thought

---

That said - I believe that there should be a way to get around this in Comunica in the meantime; especially

[2022-04-15 06:27] rubensworks commented on #978
@jaxoncreed Here's an overview page with all the information: https://comunica.dev/research/link_traversal/

Just a warning: this is all very experimental still, so breaking changes may occur at any point in time.

[2022-04-15 06:33] rubensworks commented on #594
To add upon what @jeswr has said above, there's also the issue of implementing supporting [the evaluation of SPARQL* queries](https://w3c.github.io/rdf-star/cg-spec/editors_draft.html#evaluation-semantics), since there are some specific new features in SPARQL* that did not exist before in SPARQL. (it's been too long ago since I looked into it, so I'm not sure anymore what exactly would be needed)

[2022-04-15 06:36] #533 closed

[2022-04-15 07:49] joachimvh commented on #594
It could be that `sparqlalgebrajs` already works out of the box with this, since it copies the `Term` and `Quad` objects directly from the `sparqljs` output. That is for the BGP parts of a query though, I'm not really following RDF*/SPARQL* so not sure if other features are needed.

[2022-04-16 03:30] jeswr opened #980 "Feature: Source alternatives"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

It would be useful to have a way of providing multiple possible sources for data

Concretely - I think we should have [IDataSource](https://github.com/comunica/comunica/blob/4c66bfaa44f73786bc7403504e5fe571181430c7/packages/types/lib/IDataSource.ts) extended to be

[code]
and a new actor `actor-rdf-resolve-quad-pattern-

[2022-04-16 05:57] rubensworks commented on #980
I like the idea of source alternatives!

Related paper: Minier, Thomas, et al. "Intelligent clients for replicated triple pattern fragments." European Semantic Web Conference. Springer, Cham, 2018.

[2022-04-18 02:46] jeswr opened #983 "Feature: Access to non-RDF endpoints"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

An interesting direction for future work could be to provide interoperability with endpoints that are not traditionally RDF. For instance, there is a discussion of accessing SQL endpoints in "Thapa, Ratan Bahadur, and Martin Giese. "A source-to-target constraint rewriting for direct mapping." International Semantic Web

[2022-04-18 06:21] jeswr opened #984 "Feature: SHACL Compact Syntax Support"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

This is something that I got partway through doing in the past and hope to finish off when I get time (but am also happy for someone to take over if they are interested)

SHACLC CG Report: https://w3c.github.io/shacl/shacl-compact-syntax/
WIP SHACLC Parser: https://github.com/jeswr/shaclcjs
WIP SHACLC Writer: https://gi

[2022-04-18 06:51] rubensworks commented on #983
We have _some_ things in the pipeline for this. \cc @bjdmeest

[2022-04-18 09:40] danielbeeke opened #985 "bus-rdf-update-quads could not find the source for skolemization"
#### Issue type:

- :bug: Bug

____
#### Description:

I am trying to create a tree of widgets for a form system.
The tree of widgets starts with a LDflex path.
Children and grand children of this LDflex path are passed onto widgets.
The widgets have a input element onchange event and that changes the term inside the LDflex.
For the widgets that are in the root of the tree it works.
For widgets th

[2022-04-19 04:21] jeswr commented on #985
Currently `sourceID`s are only set after the engine makes a [federated query](https://github.com/comunica/comunica/blob/4c66bfaa44f73786bc7403504e5fe571181430c7/packages/actor-rdf-resolve-quad-pattern-federated/lib/FederatedQuadSource.ts#L179-L186) - what you can do is pass your own `sourceID`s object as a context entry. So the context you give to the query engine would need to include something l

[2022-04-19 06:09] rubensworks commented on #985
At first glance, this looks like a bug in LDflex, and I think @danielbeeke's fix is correct.

[2022-04-20 15:04] ragnorc commented on #594
Thank you @jeswr and @joachimvh for your input.
@rubensworks Happy to jump on a call to discuss this!

[2022-04-21 05:58] rubensworks commented on #594
@ragnorc Could you [mail me](mailto:ruben.taelman@ugent.be) some suggestions for meeting slots (next week or later)?

[2022-04-21 13:18] phochste opened #986 "Comunica Web client doesn't escape whitespace in the URL"
#### Issue type:

- :bug: Bug

____
#### Description:

In the comunica demo website one can contruct a SPARQL query and then bookmark, copy&paste .. the URL to another window/website/blog post. This browser URL does not contain the new lines in the SPARQL code. The bookmarked URL will not work without editing. E.g. a copy and pastes URL:

https://comunica.github.io/comunica-feature-link-traversal-

[2022-04-22 01:36] jeswr opened #989 "2 update spec tests failing silently"
#### Issue type:

- :bug: Bug

____
#### Description:

See https://github.com/comunica/comunica/runs/6121871670?check_suite_focus=true#step:11:358

[2022-04-22 07:22] rubensworks commented on #989
That seems problematic.
But the weird thing is that it only seems to occur in that run.
Locally it works fine, and also in the other runs it seems.

[2022-04-22 18:52] jonasbovyn opened #991 "Query stops running without ActorRdfJoinMultiBind"
#### Issue type:

- :bug: Bug

____
#### Description:

When the ActorRdfJoinMultiBind actor is removed from `actors-inner.json`, the following query stops running after around 7 seconds, producing zero results.

[code]

Same behavior when running from command line

____
#### Environment:

| software         | version
| ---------------- | -------
| Comunica Engine  | 2.0.6 (dev)
| node

[2022-04-25 13:19] rubensworks commented on #991
The problem here is a bug in the metadata of http://fragments.dbpedia.org/2015/en (it emits metadata for https), which is resolved when using https://fragments.dbpedia.org/2015/en (the https variant).
This problem caused the results for the `?s ?p ?o` part of the query to be limited to the first 100 results, which caused the final result set to be empty.
So just always using https will fix your pr

[2022-04-26 10:16] zeroxbt opened #994 "Querying graphdb results in a lot of requests"
#### Issue type:

- :bug: Bug

____
#### Description:

Query to GraphDB results in a lot of requests.

Code example with screenshot of the logs: https://gist.github.com/zeroxbt/6cfede66e5104471d303b69372ebb51f

-----

## Bounty

A [bounty](https://comunica.dev/association/bounties/) has been placed on this issue by:

| |
|-|
| [<img alt="Comunica Association" src="https://comunica.dev/img/comunica

[2022-04-26 10:19] rubensworks commented on #994
You're setting the source type correctly, so I don't immediately see what is going wrong here.

What happens when you remove the `destination` from your context?

[2022-04-26 10:25] zeroxbt commented on #994
Hi @rubensworks, thanks for the fast response. Removing the `destination` key from the context object solved the issue. I had this since I used the same context for storing datasets in GraphDB. Should I then have two different context objects depending on the type of query ?

[2022-04-26 10:28] rubensworks commented on #994
Aha, great to hear that this fixes to problem.
(it's still a bug though, so we should leave this issue open)

If the endpoint for updating is the same (URL) as the one for querying, then you don't have to define a separate `destination` in your context. It is a different, then you will indeed require the context as you have defined it.

But in any case, it's definitely possible that different quer

[2022-04-27 05:47] jeswr opened #995 "Stop Engine from blocking"
#### Issue type:

- :snail: Performance issue

____
#### Description:

As identified in [this PR](https://github.com/comunica/comunica/pull/981#issuecomment-1110568121) there are some points at which the engine will block, such as when `await`ing metadata from an iterator. IMO any component that does this should not *block* and rather, return an `AsyncIterable` iterator that is not yet readable.

[2022-04-27 05:58] jeswr commented on #995
To add on to this mediators should not block necessarily. For instance, should not wait on all tests if one returns a cost of 0 `MediatorJoinCoefficientsFixed`.

[2022-04-27 07:11] jeswr opened #996 "Lazily generate logger data"
#### Issue type:

- :snail: Performance issue

____
#### Description:

[Some logging data](https://github.com/comunica/comunica/blob/5b2dd7af8d6d5a546f3b7d92b5b374bb93ba374e/packages/mediator-join-coefficients-fixed/lib/MediatorJoinCoefficientsFixed.ts#L84-L93) can have non-negligble computational cost, or contain blocking `await`s. As such it would be useful to lazily generate this data so that i

[2022-04-27 07:46] jeswr commented on #995
Note that the promise wrapper introduced in https://github.com/RubenVerborgh/AsyncIterator/pull/63 will probably help with this

[2022-04-27 10:51] rubensworks commented on #996
We already have a callback to only generate data if a logger is active: https://github.com/comunica/comunica/blob/5b2dd7af8d6d5a546f3b7d92b5b374bb93ba374e/packages/core/lib/Actor.ts#L118-L123

However, what we don't have yet indeed, is a way to only generate data if the relevant logger level is active.

Not sure how easy it would be to implement the latter though, as it may require some changes th

[2022-04-27 10:56] rubensworks commented on #995
Oh, good catch @jeswr.

👍

Sounds like a good solution for this specific problem!

[2022-04-27 11:10] jeswr commented on #995
Ive started on this fix in the promise-source-debugging branch. Will clean it up and make a separate PR when I get the chance

[2022-04-28 06:45] rubensworks opened #997 "Migrate away from lerna"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

Since [lerna](https://github.com/lerna/lerna) is not being maintained anymore, we look into migrating to another tool to manage our monorepo. (https://github.com/lerna/lerna/issues/2703)

The only functionality we really depend on is the publishing part.

Related to #931

Some migration options:

- https://medium.com/au

[2022-04-28 08:01] jacoscaz commented on #995
I generally agree on this but it's worth pointing out that there's a tradeoff between blocking behavior and shorter chains of iterators.  https://github.com/RubenVerborgh/AsyncIterator/pull/63 makes wrapping promisified iterators a lot faster but it doesn't entirely eliminate wrapping overhead as we still end up with one additional "pass-through" iterator that becomes readable once the promise res

[2022-04-28 08:18] jacoscaz commented on #997
As Comunica is a long-term project, I would suggest using `npm` (or `yarn`) alone with the `workspace` feature and possibly coming up with a publishing script of our own. I do realize that this sounds like a lot of effort but I've repeatedly made this choice in the past and I've always seen it pay dividends after a couple of years.

[2022-04-28 10:33] rubensworks commented on #997
👍 to workspaces.

Not sure about this one. At the very least, we need some logic to order packages by dependency relationships (e.g. so that core comes first, then types, ...). Once we have such as script, anything else is trivial, and we can implement this ourselves. But if possible, I would try to avoid reinventing the wheel, and reuse some existing tool to determine such package ordering.

Sinc

[2022-04-28 10:59] jacoscaz commented on #997
Comunica does have a complex dependency tree, indeed. In fact, it's by far the most complex of all the monorepos I've worked on and what I am suggesting might indeed be counter-productive.

My concern is not with the absence of one such tool but, rather, with its long-term stability and maintenance. As a general guideline, I think the fewer dependencies we have, the better off we are in the long t

[2022-04-28 11:56] rubensworks commented on #997
Don't get me wrong, I'm definitely open to something self-baked, but the only problem with that is the time-effort that might be required for it. (but if you're up to it, feel free :-) )

[2022-05-04 08:09] Tpt commented on #892
As discussed with @rubensworks, I will work on this issue via the Comunica Association.

[2022-05-04 15:04] rubensworks commented on #618
Thanks for sharing @mrkvon!

An alternative solution would be to call `engine.invalidateHttpCache()` after/before each query execution.

[2022-05-04 15:21] mrkvon commented on #618
So, the issue is open only to keep track of the desired `--no-cache` option for CLI, isn't it?

After reading the issue, i wrongly assumed that no cache invalidation is implemented, and didn't even bother looking into documentation... Anyways, thanks for clarifying @rubensworks!

[2022-05-04 15:56] rubensworks commented on #618
Also that, but also to disable caching to happening in the first place.
This should save a bit on memory consumption during query execution compared to calling `invalidateHttpCache()` after each query exec.

[2022-05-08 12:16] jeswr opened #999 "Make `ResolveQuadPattern` actors only require a `RDF.BaseQuad` as a pattern"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

The type in https://github.com/comunica/comunica/blob/fb76e4c44a886638ac066fd4db7bfd852eef7915/packages/bus-rdf-resolve-quad-pattern/lib/ActorRdfResolveQuadPattern.ts#L32 be `RDF.BaseQuad` since it contains all the information needed, and `Algebra.Pattern` extends from this type.

The current type is causing a few annoy

[2022-05-09 06:35] rubensworks commented on #999
In #609, I was actually thinking of going into the opposite direction, and changing the type to `Algebra.Operation`.

So not sure about this change. I guess it's feasible to convert a quad to a pattern using the algebra's factory?

[2022-05-09 12:28] jacoscaz commented on #873
This is of _extreme_ interest for persistence and query optimization as well. Quadstore has its own serialization strategy, which I bootstrapped from what used to be N3's own strategy, the two of them likely having diverged over time. It'd be terrific to find a way to share dictionary encoding at all layers of a RDF/JS software stack, with such encoding keeping lexicographical and value-based orde

[2022-05-12 07:07] #892 closed

[2022-05-23 06:36] jaxoncreed commented on #166
As discussed with @rubensworks, I will work on this issue via the Comunica Association.

[2022-05-25 14:40] elsdvlee opened #1003 "secure conversion to ActionContext object for context added to source"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

At present a context can be added to a source making a new ActionContext.
e.g. const context = {sources: [ {value:'path_to_source', context : new ActionContext({'@comunica/bus-context-preprocess:mapping':'path_to_mapping'})}] }
I would like to be able to add a context using a plain object, and count on Comunica to conve

[2022-05-26 05:12] rubensworks commented on #997
Oh interesting. Looks like we'll have to update 🙂

[2022-05-26 05:37] juristr commented on #997
yeah definitely let me know how that goes. This is a 5.1 beta but we're going to have a stable probably around mid June sometimes.

[2022-05-28 08:01] CFerrara98 opened #1005 "Insert Data query in a local file"
#### Question:

Good morning,
is it possible use comunica in a Node.js webapp to update a **_local turtle file_** with some INSERT DATA queries?

According to the documentation, it seems that this feature is not aviable.
https://comunica.dev/docs/query/getting_started/update_app/

[2022-05-28 08:31] jeswr commented on #1005
If you want to run a NodeJS application and execute queries (including updates) then you will need to use this configuration of Comunica https://github.com/comunica/comunica/tree/master/engines/query-sparql-file#readme. This supports update queries on local files.

This *will not* work in the browser, as the browser cannot access the local file system for security reasons https://www.howtogeek.com

[2022-05-28 11:52] #1005 closed

[2022-05-29 08:00] jeswr opened #1006 "Feat: Forward `test` data to `run` method"
#### Issue type:

- :snail: Performance issue

____
#### Description:

In many cases the `test` method shares computations with the `run` method; [or in some cases are even identical](https://github.com/comunica/comunica/blob/bceec4f8b7985565258fb024a4f43e5f32ff99bb/packages/actor-abstract-mediatyped/lib/ActorAbstractMediaTyped.ts#L22-L48). For performance reasons it would be useful to have a way

[2022-05-30 06:46] rubensworks commented on #1006
That might be useful indeed.
Could also be achieved by adding a second argument to `run` (but this would be a breaking change).

[2022-06-02 15:30] jaxoncreed commented on #166
I've encountered a few problems with this task:

It can be implemented using https://www.npmjs.com/package/http-cache-semantics

The `http-cache-semantics` library is primarily concerned with the "cache-control" header and the web-cache interface doesn't care about that (for example see https://w3c.github.io/ServiceWorker/#cache-addAll the only thing it cares about is the status of the response an

[2022-06-03 06:18] rubensworks commented on #166
Ok, let's get rid of `add` and `addAll`. But I still think reusing (part of) the Cache interface is valuable, even if we only implement parts of it.

My suggestion is to only implement `match`, (perhaps `matchAll`?) `put`, `delete`, and `keys`, and throw a `NotImplementedError` on all other methods.
And we don't have to follow the exact steps that are prescribed in [the Web Cache spec](https://w3c

[2022-06-04 20:51] jaxoncreed commented on #166
Okay awesome, @rubensworks!  That was easy. I've completed the library here: https://github.com/o-development/web-cache-lru/settings. What are the next steps to getting it under Comunica umbrella?

[2022-06-07 06:18] rubensworks commented on #166
@jaxoncreed Nice!

I would suggest just putting it inside the Comunica monorepo as a new package under `packages/`.
This would make it easier to tweak things to it in case we notice new requirements when using it from within `@comunica/actor-http-cache`.
So starting your own fork, and creating a PR with it in it might the the easiest path forward.

[2022-06-07 09:57] elsdvlee opened #1007 "comunica:bus generator: missing @param: args"
#### Issue type:

- :bug: Bug

____
#### Description:

When using the generator (yo comunica:bus), the generated actor misses a comment about the args.

**This is generated:**
[code]

**This is needed:**
[code]
____
#### Environment:

#### Crash log:

[2022-06-07 11:41] elsdvlee commented on #1007
@rubensworks I created the suggested pull request.
I get this remark:
![image](https://user-images.githubusercontent.com/93709574/172370925-973e69e2-cc90-4b7f-a4e4-bf4ec4975f81.png)

[2022-06-07 11:42] #1007 closed

[2022-06-09 17:16] jaxoncreed commented on #166
Sorry to keep coming back to this point. But I think there's a problem with this:

I don't think we should be asking users to provide a Cache in context if our library is expecting a Cache that doesn't perform in a spec compliant way.

Instead I think we should have a simple key value interface that gets set in context. Then we'll have comunica take care of the cache semantics. That way you could

[2022-06-09 18:16] jaxoncreed commented on #166
I implemented the first suggestion, but now I think we shouldn't be aligned with Web Cache interface at all. What's the point of aligning with something at an interface level if you're not going to implement it at a spec level? If someone passes in a spec-compliant Cache, comunica will break because the spec-compliant Cache doesn't care about http cache semantics.

By allowing developers to pass i

[2022-06-10 05:31] rubensworks commented on #166
Ok, go ahead!

Will you also be decoupling the cache store from the cache semantics?

[2022-06-14 01:25] jaxoncreed commented on #166
Yep, I think decoupling them makes sense.

[2022-06-17 10:35] rubensworks commented on #70
@Tpt Once everything has been implemented, could you document this functionality briefly as a new section on https://comunica.dev/docs/query/advanced/context/ ?

[2022-06-17 11:51] #936 closed

[2022-06-20 01:50] jeswr opened #1012 "Feature: Support HTTPS Retries"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

In order to better support unstable internet connections, Comunica should have a context entry option to enable retries on failed network calls. I would say that the number and frequency of retries should be configurable.

[2022-06-20 06:22] rubensworks commented on #1012
Good idea!
Would be great in combination with the new HTTP timeout functionality @Tpt is working on #70.

[2022-06-22 08:27] rubensworks commented on #971
Having something like this that shows performance differences across different releases would be very valuable:

![](https://pbs.twimg.com/media/FVzYeORXsAEOTCl?format=jpg&name=large)

Found via https://twitter.com/Danlark1/status/1539344322281328641

[2022-06-22 13:49] Tpt commented on #857
As discussed with @rubensworks, I will work on this issue via the Comunica Association.

[2022-06-22 14:36] Tpt commented on #857
@jacoscaz Thank you!

[2022-06-22 15:01] rubensworks commented on #857
This might be a good replacement for stream: https://www.npmjs.com/package/readable-stream

[2022-06-24 00:32] jeswr opened #1013 "Check context entry keys"
#### Issue type:

- :heavy_plus_sign: Feature request

This came up in a dicussion with @andreipopi. When context entries are not set properly unexpected errors can occur as a result. For example when using the reasoning components it is not currently setup to use shortcuts for entries so one needs to use `[KeysRdfReason.rules.name]` as the key rather than `rules` because shortcuts are not setup.

[2022-06-24 04:59] rubensworks commented on #1013
Ideally, each query engine would provide its own subtype of [IQueryContext](https://github.com/comunica/comunica/blob/master/packages/types/lib/IQueryContext.ts), via which strict context requirements could be enforced.

Not sure about the runtime check though, as it could result in some unnecessary overhead when re-executed upon each query exec.

But the IQueryContext types, combined with the abi

[2022-06-27 12:38] #950 closed

[2022-06-27 12:39] rubensworks commented on #947
The fix for #950 may also be a fix for this. Let's wait a while to observe...

[2022-06-28 05:32] jeswr opened #1017 "Release minor versions as stable (not alpha)"
#### Issue type:

- :heavy_plus_sign: Feature request

All new releases in the last 2 weeks have been marked as alpha (see below screenshot of @comunica/core versions.

@rubensworks could you please make a release that is not marked as alpha.

![image](https://user-images.githubusercontent.com/63333554/176100545-fed851e3-04f9-42c9-868d-3048b2198a99.png)

____
#### Description:

[2022-06-28 12:55] #70 closed

[2022-06-29 05:14] jeswr opened #1018 "Feature: Parse and evaluate SPARQL as a stream"
#### Issue type:

- :heavy_plus_sign: Feature request
____
#### Description:

There are some use-cases in which it would be beneficial to process SPARQL queries in a stream-like manner. For instance an `INSERT DATA` query containing a large number of triples to insert would be better processed in real-time rather than needing to buffer all the changes in memory before making the update.

One way o

[2022-06-29 11:15] rubensworks commented on #1018
Yes, we definitely need this in the future!

Shall we merge this issue with #403

[2022-06-29 11:29] rubensworks commented on #1017
Preparing release 2.3.0 as we speak! :-)

[2022-06-29 11:29] #1017 closed

[2022-06-29 11:30] rubensworks commented on #1013
@jeswr Do you agree with closing this issue in favor of https://github.com/comunica/comunica/issues/949?

[2022-06-29 11:31] rubensworks commented on #999
@jeswr Do you agree with closing this issue? Or is it something you can't work around?

[2022-06-29 13:14] jeswr commented on #1018
Go for it!

[2022-06-29 13:17] jeswr commented on #999
IIRC it can be worked around

[2022-06-29 13:17] #999 closed

[2022-06-29 13:19] jeswr commented on #1013
Yes :)

[2022-07-05 08:03] Tpt commented on #857
Thank you!

However, the [readme indicates otherwise](https://www.npmjs.com/package/readable-stream#user-content-usage-in-browsers).
So we will have to double-check this.

Even if it would work out of the box, our dependencies depend on `readable-stream` v1, v2 and v3 but not v4. So we would still have to migrate them to something.

Sure!

I believe that `readable-stream-node-to-web` should be a d

[2022-07-05 08:07] rubensworks commented on #857
Indeed, we'll have to make sure all of them reach v4.

Be aware that this one has been last published 5 years ago, so it may be unmaintained.

[2022-07-05 08:11] Tpt commented on #857
Indeed. But it's currently a dependency of `web-streams-node` so it won't make things worst imho.

[2022-07-06 13:47] afizzycola commented on #656
Any update on rollup support? Currently wanting to use the awesome comunica in a vite project (which uses rollup)

[2022-07-06 13:56] rubensworks commented on #656
@afizzycola No one is actively working on this at the moment unfortunately.
If this functionality is important for you, there is the option to place a bounty on this via the [Comunica Association](https://comunica.dev/association/), so that we can find and hire a developer to make this work.

[2022-07-06 14:27] jacoscaz commented on #656
@afizzycola @retog as a workaround, you can create a bundle out of your Comunica configuration of choice using Webpack as I'm doing in https://github.com/belayeng/quadstore-comunica/blob/7ffec31e4543e71652d009f828bf4212bc38570c/engine/webpack.config.js . The resulting file can then be used with Rollup.

[2022-07-11 07:51] afizzycola commented on #656
Thank to you both for the swift replies. @jacoscaz I will take a look at this workaround. @rubensworks will consider if I can pool some funds.

[2022-07-18 15:34] th0rgall opened #1028 "Comunica browser query example in docs not working"
#### Issue type:

- :bug: Bug

____
#### Description:

The example here https://comunica.dev/docs/query/getting_started/query_browser_app/ is not working for me.

See https://codesandbox.io/s/comunica-issue-0hjrx1?file=/index.html
It is a simple HTML file, I copied the example as-is, changing only the script source to a working path.

<img width="1095" alt="Screenshot 2022-07-18 at 17 34 21" src="

[2022-07-18 20:14] ericctsf opened #1029 ""EXISTS found, but no existence hook provided" in Optional block"
#### Issue type:

- :bug: Bug

____
#### Description:

The following code test throws "EXISTS found, but no existence hook provided" but should pass
Note that these queries worked in @comunica/actor-init-sparql-rdfjs
Also presumably similar issue to https://github.com/comunica/comunica/issues/650
[code]

____
#### Environment:

 `node ./packages/actor-init-query/bin/query.js -v`--> not part of

[2022-07-19 06:09] rubensworks commented on #1028
The new link you're using refers to the RDF/JS version of Comunica, which doesn't allow querying from URLs.
You're probably looking for the regular version of Comunica: https://rdf.js.org/comunica-browser/versions/v2/engines/query-sparql/comunica-browser.js

The web page has now been fixed with the correct URL.

[2022-07-19 06:09] #1028 closed

[2022-07-19 06:23] rubensworks commented on #1029
Ah, I already see the problem. It's similar to the problem we had before indeed.

Passing `this.mediatorQueryOperation` as second argument to [this call](https://github.com/comunica/comunica/blob/master/packages/actor-query-operation-leftjoin/lib/ActorQueryOperationLeftJoin.ts#L39) should fix the problem.

Now that I think of it, the second argument of `ActorQueryOperation.getAsyncExpressionContex

[2022-07-19 13:37] th0rgall commented on #1028
Yes, that fixes it https://codesandbox.io/s/comunica-issue-0hjrx1?file=/index.html

Just had to be careful too that the source URL uses https when running the https-hosted CodeSandbox, but that was easy to detect & fix. Thanks!

[2022-07-23 11:35] jeswr opened #1031 "Port node-check-update script"
See https://github.com/comunica/comunica/discussions/990#discussioncomment-3212053

[2022-08-03 09:40] Tpt opened #1032 "Webpack: @babel/polyfill is applied twice on the output code"
#### Issue type:

- :bug: Bug

____
#### Description:

The webpack builds of Communica contains the warning `@babel/polyfill is loaded more than once on this page. This is probably not desirable/intended and may have consequences if different versions of the polyfills are applied sequentially.`.

This is caused because both `@babel/preset-env` is loaded in `.babelrc` and that `@babel/polyfill` is

[2022-08-03 09:59] #1032 closed

[2022-08-04 10:01] vterzic opened #1034 "resultToString throws stream._fillBuffer is not a function when querying GraphDB solely"
#### Issue type:

- :bug: Bug

____
#### Description:

`queryEngine.resultToString()` throws error when querying GraphDB solely. Once you add additional source, everything works as expected.

Reproducible code example: https://gist.github.com/vterzic/66d2718fec73f4e842731380533b1ce1
____
#### Environment:

| software         | version
| ---------------- | -------
| Comunica Engine  | 2.3.0
| node

[2022-08-04 10:46] rubensworks commented on #1034
@jeswr @jacoscaz This code makes use of the `wrap` function of AsyncIterator.
Do you know if this code does not expose the `_fillBuffer` method anymore?

[2022-08-04 10:47] jeswr commented on #1034
`wrap` can now bypass the `WrappingIterator` in certain cases (e.g. if it was already an AsyncIterator, it will just return the input). In such cases `_fillBuffer` will not exist.

[2022-08-04 10:48] jeswr commented on #1034
Not sure why this would be a problem on some sparql endpoints and not others though - it shouldn't change the nature of the iterator

[2022-08-04 10:49] jacoscaz commented on #1034
Why are we using a private method of `AsyncIterator`, though?

[2022-08-04 10:50] rubensworks commented on #1034
I'm sure it will also break in many other places :-)

Is there another method we can use to "start" the iterator?

[2022-08-04 10:52] rubensworks commented on #1034
For reference: https://github.com/comunica/comunica/blob/master/packages/actor-query-operation-sparql-endpoint/lib/ActorQueryOperationSparqlEndpoint.ts#L168-L171

[2022-08-04 10:56] jacoscaz commented on #1034
Oh I think I understand what is going on. Metadata can only get to the end of the chain once the entire chain begins to read, so we're invoking `_fillBuffer()` to force that even when we haven't actually begun to read items.

Mh... We should probably temporarily fix this by wrapping into a `BufferingIterator` within Comunica (or something like that) and then figure out whether we can decouple meta

[2022-08-04 10:58] rubensworks commented on #1034
@jacoscaz Jesse suggested a similar fix (he's sitting next to me), he's going to look into it.

[2022-08-04 11:01] jacoscaz commented on #1034
Awesome! We probably don't even need `BufferingIterator` but simply to kickstart things by calling `read()` once, buffering the first item, and then simply let subsequent `read()` invocation pass through to the source. LMK if I can help!

[2022-08-04 11:03] rubensworks commented on #1034
Might be dangerous, as we can loose the first item this way.

[2022-08-04 11:53] jacoscaz commented on #1034
There's got to be a way to buffer the first item until it's actually needed without incurring in the performance penalty brought by the internal buffering. Something like:

[code]

I don't have time to test this ATM but the overall approach should work.

[2022-08-04 13:42] vterzic commented on #1034
Interestingly enough, removing   `'application/sparql-results+json'` mediaType argument from  the `queryEngine.resultToString()` call solves the issue.

[2022-08-07 10:01] jeswr commented on #1034
FYI there is a fix in the works - we just need to release [some upstream changes](https://github.com/RubenVerborgh/AsyncIterator/pull/80#issuecomment-1207371390) first.

[2022-08-08 08:05] zeroxbt opened #1037 "BindingsStream returned by queryBindings is not async iterable"
#### Issue type:

- :bug: Bug

____
#### Description:

BindingsStream is of type AsyncIterator but when I try to iterate over the returned values with a `for await`  loop, an error is thrown saying it is not async iterable.

____
#### Environment:

#### Crash log:

[2022-08-08 08:12] rubensworks commented on #1037
`BindingsStream` is an [`AsyncIterator`](https://github.com/RubenVerborgh/AsyncIterator/), not an [async iterator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols#the_async_iterator_and_async_iterable_protocols).
So the `for await` operator is not supported (mainly due to it being slower than the operations provided by `AsyncIterator`).

It may be possible to

[2022-08-08 08:12] #1037 closed

[2022-08-08 08:32] jeswr commented on #1037
FWIW @zeroxbt  you can always use [this code](https://github.com/LDflex/LDflex-Comunica/blob/f01ece6fa8cee720061efd5ddd23ed82921555e4/src/ComunicaEngine.ts#L161-L215) to convert an [`AsyncIterator`](https://github.com/RubenVerborgh/AsyncIterator/), into an [async iterator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols#the_async_iterator_and_async_iterable_pr

[2022-08-08 10:08] zeroxbt opened #1039 "How to convert literal to javascript object"
#### Issue type:

- :question: Question

____
#### Question:

When parsing a literal, is there a way to convert it to the corresponding JS type ? For example I'd like to be able to automatically convert a literal like :

Literal {
  termType: 'Literal',
  value: '1',
  language: '',
  datatype: NamedNode {
    termType: 'NamedNode',
    value: 'http://www.w3.org/2001/XMLSchema#integer'
  }
}

to n

[2022-08-08 10:12] jeswr commented on #1039
You could always use [termToPrimitive](https://github.com/LDflex/LDflex/blob/847a25ae5211264d7d62f0b9875509c8e7f69ade/src/valueUtils.js#L111-L140) from LDflex.

[2022-08-08 10:14] zeroxbt commented on #1039
Awesome, thanks !

[2022-08-08 10:14] #1039 closed

[2022-08-08 10:37] rubensworks commented on #1039
There's also this library dedicated to this functionality: https://github.com/rubensworks/rdf-literal.js

[2022-08-08 12:02] Tpt opened #1040 "Comunica should run in-browser tests"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

Currently, Comunica runs in its CI only a test to check if a build with WebPack 5 is working. However it does not run any in-browser test.
This makes the CI not aware of some possible issues like usages in the code of globals available in NodeJS but not in web browsers like the `process` object or the `setImmediate` fun

[2022-08-08 12:31] rubensworks commented on #167
See #1040 for more details on browser tests.

[2022-08-09 14:25] jeswr opened #1041 "Possible memory leaks when running test suite"
#### Issue type:

- :bug: Bug

____
#### Description:

When running `yarn test` on the main branch the following error is produced:

[code]

When running with `--detectOpenHandles` the error appears to be in `ActorInitQuery`

[code]

____
#### Environment:

#### Crash log:

[2022-08-12 09:03] pheyvaer opened #1044 "Invalid baseIRI when querying a local JSON-LD file"
#### Issue type:

- :bug: Bug

____
#### Description:

When I query a local JSON-LD file with this command

[code]

 I get the following error

[code]
The error doesn't occur when adding `file://` to the path:

[code]
____
#### Environment:
[code]
| software         | version
| ---------------- | -------
| Comunica Engine  | 2.3.0
| node             | v14.19.2
| npm              | 8.10.0
| yarn

[2022-08-12 09:06] rubensworks commented on #1044
The fix for this should be easy: at the location where the baseIRI is set (I think actor-init-query), we should ensure that `file://` is prepended if we detect that we're working with a file path.

[2022-08-12 13:09] rubensworks commented on #994
For reference, the following actor should pass the test method, but it's not: https://github.com/comunica/comunica/blob/master/packages/actor-query-operation-sparql-endpoint/lib/ActorQueryOperationSparqlEndpoint.ts#L57-L77

[2022-08-13 10:35] jeswr commented on #989
So looking at recent runs of the workflows - it seems that 156/156 of the spec tests are consistently passing.

My concern lies in the fact that if we start to fail spec tests again - then this *will not* trigger a failing CI/CD test. I think the requirement for this issue to be closed is an update to the [CI workflow](https://github.com/comunica/comunica/blob/0ad833f8f32f7e3c2de1b22a0424da027656b

[2022-08-15 13:11] rubensworks commented on #989
Yay 😅

Luckily, @Tpt recently fixed this: https://github.com/rubensworks/rdf-test-suite.js/commit/72bea155644508eafd0e10397d73744b8a6cf910
So I'm assuming it's safe to close this issue for now.

[2022-08-15 13:11] #989 closed

[2022-08-15 13:49] jeswr commented on #989
Ah perfect!

[2022-08-17 13:52] heartpunk commented on #1029
As discussed with @rubensworks, I will work on this issue via the Comunica Association.

[2022-08-17 14:31] heartpunk commented on #1029
I've got the test failing as described above (albeit with no attention to conventions yet), moving on to the proposed fix, and then checking style guides and fixing things up, next.

[2022-08-17 14:33] rubensworks commented on #1029
@heartpunk Great!

[2022-08-17 16:25] heartpunk commented on #1029
Brushing up on intricacies of the project to get coverage lifted back up to where it should be. Lil bit to get familiar with here so this might not be quite as quick, but hoping to wrap it up within a few days at worst. Will update as I have questions or progress.

[2022-08-17 16:26] heartpunk commented on #1029
(Oh, to be clear, the test has failed and now passes. It's just the coverage threshold I need to work on.)

[2022-08-18 14:52] andrewzhurov commented on #1044
As discussed with @rubensworks, I will work on this issue via the Comunica Association.

[2022-08-21 11:29] andrewzhurov commented on #1044
Would we like to have support for relative paths as well?

[2022-08-22 11:49] rubensworks commented on #1044
@andrewzhurov Yes, those cases can occur as well!

[2022-08-22 12:58] #857 closed

[2022-08-22 16:29] ericprud opened #1049 "dep @types/shexj^2.1.2 has a breaking change"
#### Issue type:

- :bug: Bug

____
#### Description:
(More of a potential bug, but templates don't invite creativity)

There's a non-backard-compatible change in the upcoming ShExJ 1.2, and corresponding `@types/shexj`. All top-level shapes require a ShapeDecl (it was optional in the EXTENDS branch but that led to a proliferation of bugs.)

Old structure:
[code]
New structure:
[code]
`.id` is no

[2022-08-23 07:12] rubensworks commented on #1049
Thanks for letting us know @ericprud!

The only place we're using ShEx is here: https://github.com/comunica/comunica-feature-link-traversal/blob/master/packages/actor-rdf-metadata-extract-shapetrees/lib/ActorRdfMetadataExtractShapetrees.ts#L201-L214
So it looks like we'll need to make a small change indeed.

(just moving this issue to the repo where this code exists)

[2022-08-24 09:36] #1034 closed

[2022-08-24 10:50] jacoscaz opened #1050 "Browser-side build of Comunica 2.4.0 overrides global process variable even if already set"
#### Issue type:

- :bug: Bug

____
#### Description:

Comunica 2.4.0 is breaking `quadstore-comunica` when used server-side due to the override of the global `process` variable at: https://github.com/comunica/comunica/blob/b84898f73a1a2c1fc413b51b2facacfd6bb729e4/packages/actor-init-query/lib/ActorInitQuery-browser.ts#L1-L8

`quadstore-comunica` is intentionally built with Webpack 5.x targeting t

[2022-08-24 11:05] rubensworks commented on #1050
Indeed, this was one aspect I was not very happy about, but there's not really a good workaround available.

But yet, feel free to open a PR with your proposed fix!

[2022-08-24 11:06] rubensworks commented on #1050
And with the new changes, I guess this workaround won't be needed anymore?

[2022-08-24 11:20] jacoscaz commented on #1050
Well, I guess it depends on Comunica's own plans. For me, it's a lot easier to maintain a single build targeting the subset of features that is common to all runtimes (browser-side and server-side) and therefore I'd rather keep `quadstore-comunica` as-is. But, I do understand that this is an opinionated view. I'll open a PR with the fix suggested above and if that doesn't cut it I'll try something

[2022-08-24 11:54] rubensworks commented on #1050
Fixed in #1051

[2022-08-24 11:54] #1050 closed

[2022-08-28 12:02] zeroxbt opened #1052 "No valid SPARQL query results were found."
#### Issue type:

- :bug: Bug

____
#### Description:

When executing a query, the error `No valid SPARQL query results were found. ` is **sometimes** thrown.

The code example and the error message are shown in [this gist](https://gist.github.com/zeroxbt/aea7774bf0f07793ee568350dadf96af).
____
#### Environment:

- Node.js version: 16.15.1
- @comunica/query-sparql version: 2.4.2

#### Crash log:

[2022-08-28 12:15] rubensworks commented on #1052
It's possible that your local endpoint doesn't fully follow the SPARQL JSON results spec, and doesn't always emit a `results` block.
We could work around this in the parser by making it a bit less strict, and not throw always an error when that `results` block is not present: https://github.com/rubensworks/sparqljson-parse.js/blob/f57434677453a9c69785fc082f8cd6c0ab33f277/lib/SparqlJsonParser.ts#L4

[2022-08-28 18:35] zeroxbt commented on #1052
I haven't had this issue before, but I recently switched from commonjs to esm and noticed it. Could that be the cause ?

[2022-08-29 05:51] rubensworks commented on #1052
No, it's probably because of some recent changes in the SPARQL/JSON parser, which may have coincided with your CJS/ESM migration.

[2022-08-31 07:59] zeroxbt commented on #1052
Hi @rubensworks, is there a version I can run where I won't experience this problem ?

[2022-08-31 08:16] rubensworks commented on #1052
@zeroxbt You could downgrade to the previous minor version.

But the fix is probably very easy though, so if you're up for it, you're welcome to provide a PR with a fix.

[2022-09-05 11:25] jeswr opened #1053 "Buffer is not defined when using latest rdfjs browser build of Comunica"
#### Issue type:

- :bug: Bug

____
#### Description:

I think this is because readable-stream still requires a `buffer` polyfill https://www.npmjs.com/package/readable-stream but that polyfill was removed in https://github.com/comunica/comunica/pull/1023/files.

Pinging @Tpt
____
#### Environment:

#### Crash log:

[2022-09-05 11:35] jeswr commented on #1053
This also probably signals that it would be valuable to have a few integration tests for those bundles.

[2022-09-05 11:51] pietercolpaert opened #1054 "Recognize and follow TREE hypermedia"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

In the Link/Metadata extractor bus, add support for [TREE hypermedia](https://w3id.org/tree/specification) using [the TREE metadata extraction actor](https://github.com/TREEcg/tree-metadata-extraction)

#### Expected behaviour

Given a source, it should detect that this source is a first node of a `tree:Collection` (det

[2022-09-05 12:04] Tpt commented on #1053
That's interesting. Indeed, we need integration tests for the bundles. What is strange is that I had no problem to run these bundles directly and `buffer` is a dependency of Comunica. How are you building Comunica?

[2022-09-05 12:05] rubensworks commented on #1053
Just like this: https://github.com/comunica/comunica/blob/master/packages/actor-init-query/webpack.config.js
So I guess this is the one you were using as well.

[2022-09-05 12:08] jeswr commented on #1053
The issue was discovered in https://fragments.inrupt.com/sparql.html which directly loads https://rdf.js.org/comunica-browser/versions/latest/engines/query-sparql/comunica-browser.js

[2022-09-05 12:09] jeswr commented on #1053
On it

[2022-09-05 12:10] rubensworks commented on #1053
Also related: https://github.com/comunica/jQuery-Widget.js/commit/049b4f3828338bfb0b11a998218c7e229513755a

[2022-09-05 12:17] rubensworks commented on #1052
@zeroxbt The issue should be fixed now. Can you confirm on your after after resetting your lockfile+`node_modules` and reinstalling?

[2022-09-05 12:23] #1053 closed

[2022-09-06 07:03] pietercolpaert commented on #881
How would one discover the fact that an interface supports BrTPF? Should we specify that somewhere?

[2022-09-06 07:47] rubensworks commented on #881
At first glance, it doesn't appear to be described in the [brTPF paper](https://arxiv.org/pdf/1608.08148.pdf). But perhaps we should investigate the implementation to see if they have any special hypermedia controls.

[2022-09-06 09:48] constraintAutomaton commented on #870
I'm interested in tackling it.

[2022-09-06 10:53] rubensworks commented on #870
Great! Let me know if you need any input @constraintAutomaton :-)

[2022-09-06 12:12] smessie opened #1057 "Blank nodes are not deskolemized"
#### Issue type:

- :bug: Bug

____
#### Description:

It looks like blank nodes are not deskolemized after they were skolemized. While debugging why the INSERT-DELETE-WHERE was not working, we saw that (also) for a simple SELECT the blank nodes are not deskolemized. This is most likely also the reason why the SPARQL patch is not updating anything; the values of the nodes are still prefixed with `

[2022-09-06 12:40] rubensworks commented on #1057
Deskolemization before updates should have been added in #922.

@jeswr does this issue seem related to the one fixed in #922, or is it a different one?

[2022-09-06 14:01] #1052 closed

[2022-09-06 14:01] rubensworks commented on #1052
@zeroxbt The issue should be fixed now. Can you confirm on your after after resetting your lockfile+node_modules and reinstalling?

[2022-09-07 02:54] jeswr commented on #1057
Should be resolved by #922 - I added an integration test [very similar](https://github.com/jeswr/comunica/blob/5aaad22db39f8e3a3c1f0d7b559511c5ba7687d8/engines/query-sparql/test/QuerySparql-test.ts#L394-L423) to this at the time.

Might be worth adding the above as an integration test - but beyond that it should be safe to close this issue.

[2022-09-07 11:28] smessie commented on #1057
Then I get following error:
[code]
With following warning in my IDE
[code]

---

Okay, I do understand your point that you skolemize it to cover the case of multiple sources. However, this `SELECT` example resulted in the fact that we had problems with a `DELETE - INSERT - WHERE` that did not have any effect, so we constructed this SELECT as an easier case to show the problem.
Could it be that the

[2022-09-08 02:33] jeswr opened #1058 "Context preprocessor should set a single source as a destination - not just sources array of length 1"
#### Issue type:

- :bug: Bug

____
#### Description:

Proposal - this https://github.com/comunica/comunica/blob/a9eaf5db72f4cd5364cdb0dda9eb5fdb7996a125/packages/actor-context-preprocess-source-to-destination/lib/ActorContextPreprocessSourceToDestination.ts#L20-L27 should become

[code]
____
#### Environment:

#### Crash log:

[2022-09-08 02:41] jeswr commented on #1057
Huh - I was assuming the context preprocessor behaved differently; see #1058 .

`DELETE - INSERT-WHERE` problems should have been resolved by https://github.com/comunica/comunica/pull/922 - I added an integration test [very similar](https://github.com/jeswr/comunica/blob/5aaad22db39f8e3a3c1f0d7b559511c5ba7687d8/engines/query-sparql/test/QuerySparql-test.ts#L345-L383) to this at the time. If you ca

[2022-09-08 05:35] rubensworks commented on #1058
In the past, we allowed users to specify either `source` or `sources in their context.
This caused a bunch of problems unfortunately, since most of our logic is based on `sources`.
That is why we decided to only work with `sources` for everything above the federated actor,
and with `source` for everything below.
Since the context preprocessing happens before the federated actor, this should theref

[2022-09-08 06:24] jeswr commented on #1058
If support for an input `source` as a user input has been dropped; then I suggest that this preprocessing does the following for the case of a sources array of length 1:
 - Set the `source` to be the element of that array.
 - Remove the `sources` key.
 - Set the destination to be the `source` if the destination is not defined.

 This should mean that the federated actor is bypassed entirely in thi

[2022-09-08 06:42] rubensworks commented on #1058
Indeed, mainly the federated actor. But there may be other places as well.

I'm open to a change in how this works, but this will probably require a major refactor of things.

[2022-09-09 19:43] zeroxbt commented on #1052
It's fixed. Thanks @rubensworks !

[2022-09-14 05:26] marcelomachado opened #1061 "Support SPARQL endpoints with multiple SPARQL service description"
#### Issue type:

- :bug: Bug

____
#### Description:

I created a small web app that queries multiple RDF sources, including a Blazegraph SPARQL endpoint. If my only Comunica source is this Blazegraph SPARQL endpoint, I get the expected result. When I add another source and execute the query, it returns a 404 ERROR:
[code]

However, I realized that the endpoint that appears in the error message i

[2022-09-14 06:42] jeswr opened #1062 "Bus-context-preprocess not listed in packages"
#### Issue type:

- :bug: Bug

____
#### Description:

I can find it as a package on npm (https://www.npmjs.com/package/@comunica/bus-context-preprocess) but not in the pacakges folder here.

____
#### Environment:

#### Crash log:

[2022-09-14 07:02] rubensworks commented on #1062
It's here? https://github.com/comunica/comunica/tree/master/packages/bus-context-preprocess

[2022-09-14 07:11] jeswr commented on #1062
Ah was mispelling when searching - my bad!

[2022-09-14 07:11] #1062 closed

[2022-09-14 10:45] rubensworks commented on #1061
I have no experience with Blazegraph myself, but I would guess this is a Blazegraph configuration issue.
If `http://{host}/bigdata/LBS/namespace/{namespace}/sparql` is exposed in the SD, then this would mean that it is enabled in Blazegraph, but is somehow broken.

As a workaround for this Blazegraph bug, it _may_ be possible to [force the `sparql` source type](https://comunica.dev/docs/query/adva

[2022-09-14 15:39] pheyvaer opened #1065 "xsd:dateTime doesn't work"
#### Issue type:

- :bug: Bug

____
#### Description:

Consider the following SPARQL query

[code]
The variable `?end` never gets a value assigned, while it should have the value `"2022-09-10"^^xsd:dateTime`.
____
#### Environment:
You find the query via the online client at
https://comunica.github.io/comunica-feature-link-traversal-web-clients/builds/follow-match-query/#datasources=https%3A%2F%2F

[2022-09-15 06:06] rubensworks commented on #1065
This is either a problem in the bind actor, or in sparqlee.

[2022-09-15 06:12] rubensworks commented on #1061
Hmm, too bad the workaround doesn't work.

The proper long-term solution would be to consider the two endpoints in the SD as alternatives to the same dataset. In this case, Comunica should first attempt to query the first one, and fallback to the second one if the first one fails (or some other load-balancing solution). However, implementing this would require quite some effort.

A short-term solu

[2022-09-15 07:02] constraintAutomaton opened #1066 "Add unit tests for blank node consistency."
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

Issue #870 has shown that with the current testing method we are able to detect if there are some inconsistencies when comunica output blank nodes especially with the skolemisation. It would be of interest to create [system tests](https://github.com/comunica/comunica/blob/master/engines/query-sparql/test/QuerySparql-tes

[2022-09-15 09:34] jeswr commented on #1065
Related @pietercolpaert observed a while back that Comunica accepts negative `xsd:dateTime`s even though they are not allowed by the XSD spec.

In particular I *think* https://query.linkeddatafragments.org/#datasources=https%3A%2F%2Fquery.wikidata.org%2Fbigdata%2Fldf&query=PREFIX%20wdt%3A%20%3Chttp%3A%2F%2Fwww.wikidata.org%2Fprop%2Fdirect%2F%3E%0APREFIX%20wd%3A%20%3Chttp%3A%2F%2Fwww.wikidata.org%2

[2022-09-15 09:58] #870 closed

[2022-09-15 13:20] marcelomachado commented on #1061
I am biased to the first approach you described and the start point would be make the `sparqlEndpoint` field an array [here](https://github.com/comunica/comunica/blob/efa0e9192f0a22d242744779f0286228de92959f/packages/actor-rdf-metadata-extract-sparql-service/lib/ActorRdfMetadataExtractSparqlService.ts#L31).

However, before going too deep into this solution I will first submit a more conservative

[2022-09-15 14:34] rubensworks commented on #1061
Indeed! We'll also need a datastructure change to provide alternatives for datasources, and a mechanism to switch to an alternative. Nothing too complicated, but may need changes in quite a few places.

Sounds great! Just give me a shout if you need any input.

[2022-09-18 07:48] jeswr opened #1069 "Handling broken URLs / ontology documents"
#### Issue type:

- :heavy_plus_sign: Feature request

It would be good to have a way of defining custom behavior for when a link is broken - for instance trying to retrieve the link via the wayback machine instead (it seems like this package could be used for that https://www.npmjs.com/package/memento-client).

Actually in the case of the wayback machine it may be as simple as appending `http://w

[2022-09-18 08:22] rubensworks commented on #1069
Sounds related to the [fallback-based datasources approach discussed recently](https://github.com/comunica/comunica/issues/1061#issuecomment-1247626851).

Note that we already have a memento actor here: https://github.com/comunica/comunica/tree/master/packages/actor-http-memento

[2022-09-19 13:37] jeswr opened #1071 "Optimised performance by aggregating queries"
#### Issue type:

- :heavy_plus_sign: Feature request

This is fairly broad and will probably open it as a research challenge at some point - but creating a placeholder here for now.

Firstly this is to link to the discussion happening around aggregation optimisations here:
 - https://github.com/LDflex/LDflex/pull/325#issuecomment-1250317842

Secondly I wanted to raise a point that it might be use

[2022-09-20 13:59] jeswr opened #1073 "Feature: Provide custom http cache as context entry"
#### Issue type:

- :heavy_plus_sign: Feature request

To allow multiple engines to share the same http cache it would be useful to have a httpCache as an optional Comunica entry. This would also allow things like preloading of webpages.

____
#### Description:

[2022-09-20 14:01] rubensworks commented on #1073
Duplicate of #166?
This is being implemented in #1010.

[2022-09-20 14:34] rubensworks commented on #1073
That's what we had in mind indeed as use case for #166.

See the sentence "This new actor should be able to use a [Cache](https://developer.mozilla.org/en-US/docs/Web/API/Cache) from the context...".

Not yet, but it [should](https://github.com/comunica/comunica/pull/1010#discussion_r963640543).

[2022-09-20 14:53] #1073 closed

[2022-09-21 07:06] gvanderh opened #1074 "Basic authentication for a specific source"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

const bindingsStream = await myEngine.queryBindings(`SELECT * WHERE { ?s ?p ?o }`, {
  sources: ['http://username:password@example.org/page'],
});

Built-in node fetch (at least recent versions) does not support credentials being passed in an URL for security reasons. Work-arounds are to pass a custom fetch function or

[2022-09-21 07:12] rubensworks commented on #1074
This should already be possible using source-specific contexts.

Something like this should work (untested):

[code]

In any case, some simplifications on passing such sub-contexts are needed (see https://github.com/comunica/comunica/issues/1003)

[2022-09-21 07:18] gvanderh commented on #1074
Thanks for the fast feedback Ruben!

[2022-09-21 07:18] #1074 closed

[2022-09-21 07:20] rubensworks commented on #1003
Once this has been implemented, we should definitely document this on https://comunica.dev/docs/query/advanced/context/

[2022-09-26 15:51] constraintAutomaton opened #1079 "beforeAllActors and AfterAllActors configuration property"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

In the configuration files of comunica it is possible to specify that an [actor must be tested before another](https://github.com/comunica/comunica/blob/33de86f086bf3be418545f07aa57f44d1461c28b/packages/core/lib/Actor.ts#L25) in the context of mediation for example [dereference actor](https://github.com/comunica/comunic

[2022-09-27 09:22] rubensworks commented on #1079
Yes, good idea. The only practical problem with these is that only a single actor per bus could make use of them.
So our implementation of this should error if it detects that two actors per bus make use of them.

[2022-09-28 01:45] jeswr opened #1080 "AsyncIterator next mver tasks"
#### Issue type:

- :heavy_plus_sign: Feature request

This is to track tasks that will need to be completed upon release of next AsyncIterator mver
____
#### Description:

[2022-09-28 01:46] jeswr commented on #1080
1.

Add the following query sparql test
[code]

see: https://github.com/comunica/comunica/pull/1070#discussion_r980933349

[2022-09-28 04:09] jeswr opened #1082 "Get link recovery in Command line"
#### Issue type:

- :heavy_plus_sign: Feature request

Currently #1081 does not work in the command line when link recovery is enabled. This is not breaking since the CLI still works without the `-r` option.

[code]

____
#### Description:

[2022-09-28 04:17] jeswr opened #1083 "Allow shorthand urls in the command line"
#### Issue type:

- :heavy_plus_sign: Feature request

For instance I would like the following to work

[code]

____
#### Description:

[2022-09-28 04:36] jeswr opened #1084 "Pretty print results by default in CLI"
#### Issue type:

- :heavy_plus_sign: Feature request

By default it would be nice to have the results appear as though I'd already piped it through `jq`

Current
[code]
Desired (`jq` also includes syntax highlighting which is not seen here)
[code]

____
#### Description:

[2022-09-28 06:04] rubensworks commented on #1082
Where is the problem being caused exactly?
AFAIK, cross-fetch is not fully fetch-compatible, but undici on Node 18 is. So the Node 18 behaviour may be the correct one.
I would guess it's a small thing in any case.

[2022-09-28 06:06] rubensworks commented on #1083
Not sure I agree. This would make it difficult in cases where one would want to query a local file named `rubensworks.net` (using `comunica-sparql-file`).

[2022-09-28 06:07] rubensworks commented on #1084
Could perhaps be implemented as a separate serialization actor.

In any case, I find the line-based serialization approach very easy to use in combination with `grep`.

[2022-09-28 06:22] jeswr commented on #1082
It's the use of this `Request` to build the new request object

https://github.com/comunica/comunica/blob/9f50fa9fe8339d02a9321e5d55208c71bdadeb8e/packages/actor-http-wayback/lib/ActorHttpWayback.ts#L12

[2022-09-29 06:14] #1069 closed

[2022-09-29 06:23] jeswr opened #1086 "Fix naming"
#### Issue type:

- :heavy_plus_sign: Feature request

https://github.com/comunica/comunica/pull/1081/files/9f50fa9fe8339d02a9321e5d55208c71bdadeb8e#r983100574
____
#### Description:

[2022-09-30 11:45] #1012 closed

[2022-09-30 12:20] jeswr opened #1089 "Support retries on broken streams"
#### Issue type:

- :heavy_plus_sign: Feature request

see https://github.com/comunica/comunica/pull/1088#discussion_r983552410

____
#### Description:

[2022-09-30 15:50] danielbeeke commented on #863
I encountered this error sometimes while trying to do things with collections:

[code]

@rubensworks if given pointers would you think I could give it a try? I could maybe start with a version that is not super performant.

[2022-10-03 05:52] #639 closed

[2022-10-03 05:55] rubensworks commented on #863
@danielbeeke This would be the location that requires implementation of this: https://github.com/comunica/comunica/blob/master/packages/actor-query-operation-path-zero-or-one/lib/ActorQueryOperationPathZeroOrOne.ts#L44

Note that path-related logic can get quite complex, so I would not recommend getting into this as your first contribution in comunica. (but you're welcome to try of course :-) )

[2022-10-03 07:24] elsdvlee opened #1090 "Javascript heap out of memory"
#### Issue type:

- :snail: Performance issue

____
#### Description:

I get a Javascript heap out of memory error when asking a federated query over 2 sparql endpoints containing a lot of data.
No problem when asking the same query over 2 tpf endpoints (ldp servers) containing the same data.
[code]

#### Environment:

[2022-10-04 13:08] LaurensRietveld opened #1091 "Stream halts on order by over empty source"
#### Issue type:

- :bug: Bug

____
#### Description:

The node process terminates when reading an empty query bindings stream. What is particularly atypical:
- No error is thrown
- Subsequent lines are not executed
- The process exits with a `0` exit code

See [here](https://github.com/LaurensRietveld/comunica/blob/bug/executionStops/engines/query-sparql/lib/executionSeemsToStop.ts) for a minimum

[2022-10-04 13:18] rubensworks commented on #1091
Can confirm on my end.

Had to to replace the promise with the following though:
[code]

It looks like the problem goes away when removing the ORDER BY, so it seems likely that the problem is caused by the ORDER BY actor.

[2022-10-05 12:34] jacoscaz commented on #1091
Having worked on related issues in quadstore, I think it's worth pointing out that anything that re-orders a query result in memory has to buffer the entire result in memory. This can lead to errors and crashes _even in the absence of bugs_ if the result is big enough to make the process run out of memory. IMHO, there should be a configurable limit in the amount of items that ordering actors may b

[2022-10-07 06:32] danielbeeke opened #1095 "Optional fails on N3 store"
#### Issue type:

- :bug: Bug

____
#### Description:

Given the following two triples I would expect four bindings as the result of the following query.
[code]

[code]
_Expectation_
s, p, o and name

_Actual_
s, p and o

When changing the language filter to something that does not exists I get zero bindings.

See http://danielbeeke.nl/comunica-rdfjs-optional-bug/ for a reproduction.
And the conso

[2022-10-07 06:34] rubensworks commented on #1095
Possible a bug in either https://github.com/comunica/comunica/tree/master/packages/actor-rdf-join-optional-bind or https://github.com/comunica/comunica/tree/master/packages/actor-rdf-join-optional-nestedloop

[2022-10-07 17:41] marcelomachado opened #1096 "Comunica is limiting 100 results when querying a TPF source"
#### Issue type:

- :question: Question

____
#### Question:

I'm trying to use Comunica inside a javascript application considering a TPF source. However, even when I place a query with a limit greater than 100 I still get 100 results:

[code]
I am using this TPF Docker Image: https://hub.docker.com/r/linkeddatafragments/server
But I also created my own Image based on the TPF Server main (~~maste

[2022-10-08 00:09] marcelomachado commented on #1096
It seams to be something related to cache. With https://hub.docker.com/r/marceloocmachado/ldf-server image I could reach more than 100 results in my local machine. But with the same image in my openshift cluster the problem remains. Does Comunica save something in files? Is there any way to flush cache?

[2022-10-10 07:58] rubensworks commented on #1096
It might be a server URL issue. Are you sure the TPF server's base URL is the same as the URL you are giving Comunica?
If not, Comunica will see the first page as a plain RDF document, and not follow next-page links.

You can check this by requesting the Turtle representation of the server URL, and inspecting the subject URL of the hypermedia triples (these must be equal to the URL requested by Co

[2022-10-10 16:27] BenoitLan opened #1097 "process is not defined using comunica and react without editing the webpack"
Hello I'm trying to use comunica with a standard react app (created with for example ***npx create-reactapp my-app***) without editing the webpack (when for example ***npm run eject*** is used to edit the webpack).

Comunica works perfect with react when you edit the webpack and use "node-polyfil-webpack-plugin". But gives the following error when a standard react app is used:
![image](https://use

[2022-10-10 19:34] marcelomachado commented on #1096
Let me show you what I'm doing.

In the first image I'm running a TPF-Server locally. I pointed to the DBPedia endpoint.

<img width="1154" alt="Screen Shot 2022-10-10 at 16 18 44" src="https://user-images.githubusercontent.com/5925863/194938583-f1ac01e1-87ba-46c2-aec5-98b4543b3a35.png">

I am doing the same thing in my remote server:
<img width="834" alt="Screen Shot 2022-10-10 at 16 19 16" src="

[2022-10-11 04:29] rubensworks commented on #949
The second step (passing custom context interfaces to `QueryEngineBase`) should be fairly straightforward.
Each engine extension could expose a custom `IQueryContextCommon` extension into their [types](https://github.com/comunica/comunica-feature-link-traversal/tree/master/packages/types-link-traversal) package, which can then be hooked into `QueryEngineBase` (may require a new generic param).

Th

[2022-10-11 04:51] rubensworks commented on #1097
I knew there were issues with `buffer` (which will be solved soon https://github.com/rubensworks/sparqljson-parse.js/issues/42), but I didn't know about any issues with `process`.

Are you sure that your installed version of `readable-stream` is at least `4.2.0`?

Also including @surilindur in this thread.

[2022-10-11 04:58] rubensworks commented on #1096
What do the metadata triples of your remote endpoint look like?

E.g., these:
[code]

The subject of this metadata should be identical to the requested URL.

[2022-10-11 04:59] rubensworks commented on #1096
See also https://github.com/LinkedDataFragments/Server.js/tree/master/packages/server#optional-set-up-a-reverse-proxy

[2022-10-11 05:06] marcelomachado commented on #1096
This is at the end of my last post but instead of turtle it is in n-triples format.

[2022-10-11 05:10] rubensworks commented on #1096
I don't see the full URL, so I'm not sure they are correct :-)

So you're certain that you are requesting `http://{host}/dbpedia` via Comunica, and not something else? (e.g. not `https://{host}/dbpedia`)

[2022-10-11 05:10] marcelomachado commented on #1096
I am quite sure it is about some cache (in my server). I was pointing it to my docker image in `marceloocmachado/tpf-server`. But I've  just realized you've published a new docker image after my PR. So, soon I will try to use this new image.

[2022-10-11 05:11] marcelomachado commented on #1096
I just replaced the confidential url. But I am sure it is the same

[2022-10-11 05:59] marcelomachado commented on #1096
@rubensworks I've just tested, with this new Docker Image version, in a different cluster and everything worked as expected.   It is really something related to cache on the server that was using the old docker image.

Anyway, thank you for your help and time.

[2022-10-11 06:17] rubensworks commented on #1096
Great to hear that it works now :-)

[2022-10-11 06:17] #1096 closed

[2022-10-11 19:43] elsdvlee opened #1098 "errors when filtering on datatype xsd:date"
#### Issue type:

- :bug: Bug

____
#### Description:

Comunica give error when filtering on datatype xsd:date.
Example query:
[code]
The example datafile dateTest-data.ttl has following content:
[code]
Comunica gives folowing errors:
[code]

____
#### Environment:

#### Crash log:

[2022-10-12 05:16] rubensworks commented on #1098
Related to #1065

@Tpt, do you think this is related to your recent changes in sparqlee?

[2022-10-12 08:22] Tpt commented on #1098
@rubensworks I am not sure `xsd:date` has ever been supported by sparqlee (SPARQL 1.1 spec only requires the `xsd:dateTime` datatype). I don't see anything suggesting special support in [the type handling code](https://github.com/comunica/sparqlee/blob/89271b2643c83d6ff923a65a71b719d15733c997/lib/util/TypeHandling.ts).

[2022-10-12 08:26] rubensworks commented on #1098
Ah, TIL :-)

So let's make this a feature request, instead of a bug.

Thanks for the input @Tpt!

[2022-10-13 12:37] danielbakas opened #1099 "Use @context with prefixes for SPARQL queries"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

The option to pass a context to a query (much like the `@context` for JSON-LD) to construct the prefixes in `text/turtle`, `application/ld+json` and more formats' queries, and therefore **make every response more compact, lightweight and readable**.

I believe this would be incredibly valuable to many people (including

[2022-10-13 12:47] danielbakas commented on #1099
@rubensworks do you think it would be valuable to add this feature request to #performance? 🤓

[2022-10-13 13:11] jeswr commented on #1099
For the _query_ you can use prefixes in SPARQL (c.f. https://en.wikibooks.org/wiki/SPARQL/Prefixes)

For the response this only really makes sense on construct queries that are serialised, so it would be a matter of config in the serialise parameter.

The time to serialize data is most likely negligible compared to the other operations required so I don't think #performance is that appropriate her

[2022-10-13 22:00] danielbakas commented on #1099
Perfect! I'll cross my fingers and hope you consider it for the response serialization 🤩🙏🏽 Thanks @jeswr!!

[2022-10-15 10:16] rubensworks commented on #1099
I'm not sure about this one.
If I understand correctly, the user would pass a JSON-LD context together with a SPARQL query, and then the results are compacted (in a serialization-agnostic manner?) using that context.
The problem with this is that the serialized result will build upon an out-of-band context, which will make serialized results not stand on their own. Parsers for those results will h

[2022-10-15 11:32] #1099 closed

[2022-10-15 13:54] danielbakas commented on #1099
Hi @rubensworks! I’ll clarify. Passing a context to the query initially would not be necessary.

What I propose would be more closely related to compacting the result of the query in the form of:
* prefixes in a TTL query
* @context in a JSON-LD query
* etc.

Only so that the output of the query is compact, but it doesn’t require an original context.

Does this make more sense? 😃 @rubensworks @jes

[2022-10-15 15:56] rubensworks commented on #1099
But what do you mean exactly with a TTL query, and a JSON-LD query?

Do you perhaps mean a CONSTRUCT query, where you select the TTL or JSON-LD media type, and then want to compact those?
If so, then yes, a way to define their prefixes and context certainly makes sense.

[2022-10-16 00:42] danielbakas commented on #1099
Absolutely! Any request where the resulting response can be compacted, like JSON-LD with @context and TTL with prefixes, and certainly like the CONSTRUCT query you mention.

That would be amazing! I apologize if I had some trouble explaining this idea, but this is the feature that I believe would be great for Comunica and valuable to many of us to. What do you think? 🤩🙏🏼

[2022-10-16 09:08] rubensworks commented on #1099
Ah ok, thanks for the clarification @danielbakas, that definitely makes sense.

And indeed, might be good to open a new issue for this, so we don't have the noisy comments.
You could title it as something like "Define prefixes and context for serialization of CONSTRUCT query results".

[2022-10-17 08:00] BenoitLan commented on #1097
Yes readable-stream in version 4.2.0, so that is not the problem I'm afraid.

[2022-10-21 07:31] pietercolpaert commented on #1098
One of the demo queries also doesn’t work anymore: is this related?

https://query.linkeddatafragments.org/#transientDatasources=%2F%2Ffragments.dbpedia.org%2F2016-04%2Fen;https%3A%2F%2Fruben.verborgh.org%2Fprofile%2F&query=SELECT%20%3Fperson%20%3Fdate%0AWHERE%20%7B%0A%20%20ruben%3Ame%20dbpedia-owl%3AbirthPlace%20%3Fplace%3B%0A%20%20%20%20%20%20%20%20%20%20%20dbpedia-owl%3AbirthDate%20%20%3FdateR.

[2022-10-22 14:30] danielbakas commented on #1099
I kept thinking about it. How would Comunica know what prefixes I'm interested about? Namespaces are easy. Comunica might have a repo with a list of common namespaces.

But what someone needs the response to include a more complex prefix like a path to somewhere?
* `https://example.com/namespace/path/to#resource`
Where the namespace is:
* `https://example.com/namespace/`
but the desired prefix is:

[2022-10-23 00:11] jeswr commented on #1099
@danielbakas - not sure if you know already; http://prefix.cc/ is great for looking up namespaces commonly associated to a prefix and http://prefix.cc/reverse is great for the reverse lookup.

You can also get the response as a jsonld context if you want it to be more machine readable .

[2022-10-26 14:43] danielbakas commented on #1099
Thanks @jeswr! That's a great tool. I'll check it out. In the meantime I'll keep using `jsonld.compact()`

[2022-10-29 15:31] sdevalk opened #1105 "`comunica-sparql-file`: CONSTRUCT query returns duplicate triples"
#### Issue type:

- :bug: Bug

____
#### Description:

I'm using `comunica-sparql-file` (CLI, package `@comunica/query-sparql-file`) to query a local RDF file.

The file ("test.ttl") looks like this:

[code]

My query (file "query.rq") looks like this:

[code]

My command looks like this:

`npx comunica-sparql-file test.ttl -f query.rq`

My output looks like this:

[code]

`a <https://schema.org/C

[2022-10-31 07:58] rubensworks opened #1106 "Test failures on Node 14 for Solid integration tests"
#### Issue type:

- :bug: Bug

____
#### Description:

@Laurin-W It looks like builds started failing on Node 14 since your Solid integration tests contribution in https://github.com/comunica/comunica/commit/c6965a74697e0a7616e18c8e362276b30441db3a with error like these:

[code]

Not sure why it didn't fail before though. Maybe it depends on the order of test execution.

Also tagging @jeswr in her

[2022-10-31 08:00] rubensworks commented on #1106
_Might_ be related to https://github.com/comunica/comunica/blob/4dd99fee904c64e9ef700eb5080197c4a03a36fa/packages/actor-init-query/test/HttpServiceSparqlEndpoint-test.ts#L55 but not sure.

[2022-10-31 10:03] rubensworks commented on #1099
@danielbakas Yes, the ability to pass this to the serialization method definitely makes sense.

[2022-10-31 10:19] rubensworks commented on #1105
The behaviour here is actually correct according to the SPARQL spec.

You'll notice that if you execute the following query:
[code]
that you will find to bindings, each having values for `?s` and `?additionalType`.

Both of these bindings will be filled into your CONSTRUCT template
[code]
which means that both of these triple patterns will be instantiated twice, which causes `<test.ttl> a <https:/

[2022-10-31 21:42] danielbakas commented on #1099
Awesome! Would that mean creating a new feature request issue?

[2022-11-01 08:37] sdevalk commented on #1105
Thanks, @rubensworks!

I've also used the CONSTRUCT + data above in a Virtuoso and Jena instance. These stores return the results without duplicate triples, e.g.:

[code]

I had expected `comunica-sparql-file` to return similar results. But I wasn't aware that this isn't spec-compliant.

[2022-11-03 08:53] rubensworks commented on #1099
Sure!

[2022-11-03 09:02] rubensworks commented on #1105
Ahh, that is interesting.

Just thought about this a bit more, and since an RDF dataset is defined as a _set_ of triples, duplicates have no meaning, so they could indeed be removed without a loss of correctness.
So the output of Comunica and Virtuoso/Jena are all correct, but it does it does indeed look a bit nicer without duplicates to humans (but for machines it doesn't matter).

I'll make this

[2022-11-03 09:24] sdevalk commented on #1105
@rubensworks Thank you!

One perhaps relevant addition:

If my data file looks like this:

[code]

And my query like this:

[code]

Then the (shortened) response of Virtuoso and Jena looks like this:

[code]

But the result of Comunica looks like this:

[code]

There are two (distinct) blank nodes. Which could give the impression that there are two 'images' whereas there is only one.

[2022-11-03 09:41] rubensworks commented on #1105
It seems strange to me that Virtuoso and Jena convert your blank node to an IRI. This doesn't seem spec-compliant, as explained [here](https://www.w3.org/TR/sparql11-query/#templatesWithBNodes).
Are you aware of any (non-spec-compliant) flag what was used to produce these results?

[2022-11-03 21:16] A01657103 commented on #1099
Awesome! So just to be clear on what to write on the new issue, how does this look:

Issue type:
➕ Feature request
***
Description:
The option to pass a context object to *comunica's serializer method* (much like the @context for JSON-LD) as mentioned in [#1099](https://github.com/comunica/comunica/issues/1099#issuecomment-1296860671).

I believe this would be incredibly valuable to many people (i

[2022-11-04 05:24] sdevalk commented on #1105
Hi @rubensworks, thanks!

Yes, you're right. The Virtuoso and Jena instances that I use convert my blank nodes to IRIs. However, if I run a new, bare bones Jena instance and use the same data and same CONSTRUCT query as before, the result looks like this:

[code]

[2022-11-04 07:13] rubensworks commented on #1099
Sure, that's fine.

You can use this as title: "Define prefixes and context for serialization of CONSTRUCT query results"

[2022-11-04 07:32] rubensworks commented on #1105
That's very interesting.
AFAIK, this isn't what the spec prescribes though.
I guess this might be something that deserves discussion on SPARQL-related mailinglist.

[2022-11-04 09:53] Laurin-W commented on #1106
Hey @rubensworks, sorry für the late reply. Will be having a deep dive this weekend :)

[2022-11-04 09:54] rubensworks opened #1255 "Integrate expression handling into comunica's bus system"
Depends on comunica/sparqlee#131.

To enable developers to override the handling of specific expressions in a dynamic manner, we should create a bus expressions bus in comunica, and let sparqlee handle these via an actor. This will enable overriding expression handling via other actors.

Not sure yet if we should split up sparqlee up into separate actors.

[2022-11-04 09:59] rubensworks commented on #848
Closing, since undici is standard since Node 18.

[2022-11-04 09:59] #848 closed

[2022-11-04 09:59] rubensworks commented on #1083
Ok to close this @jeswr?

[2022-11-05 11:30] danielbakas commented on #1099
Awesome! Thanks @rubensworks!

[2022-11-05 11:32] danielbakas opened #1108 "Define prefixes and context for serialization of CONSTRUCT query results"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Description:

The option to pass a context object to comunica's serializer method (much like the @context for JSON-LD) as mentioned in https://github.com/comunica/comunica/issues/1099#issuecomment-1296860671.

I believe this would be incredibly valuable to many people (including me), since this would save the need to manually compact

[2022-11-07 17:05] danielbeeke commented on #985
Today I tried to work again on this issue.
I think it is not possible at the moment to inject a context into the ComunicaEngine of LDflex.

I think I need the exact source object to use in the Map, but parseSources is in the way.
The arguments to @ldflex/comunica are not the same as comunica.

If I understand correctly I could inject that ActionContext when @ldflex/comunica does queryVoid(query, o

[2022-11-08 06:42] rubensworks commented on #985
Perhaps @jeswr's suggestion to make comunica add source id's into the context via the preprocessing bus would be a better solution than requiring ldflex to inject id's into the context.
Are you open to trying that @danielbeeke?

[2022-11-08 09:17] danielbeeke commented on #985
Yes, I will give it a try, thanks

[2022-11-08 09:29] rubensworks commented on #1097
Just looked into this a bit, and it looks like this is a `create-react-app` bug in their webpack config.

This problem is caused by `require("asynciterator")` returning a string (such as `/static/media/asynciterator.e7f1dad96cda58a54964.cjs`).
This is caused by a misconfiguration in React's default Webpack config: https://github.com/facebook/create-react-app/issues/11889
Modifying AsyncIterator's

[2022-11-08 09:30] RubenVerborgh commented on #1097
Fine with me! And we should definitely also take this to the next major version.

[2022-11-08 09:39] rubensworks commented on #1097
@RubenVerborgh I was thinking of just publishing ESM files as `.mjs`, and CJS as `.js` (instead of `.js` and `.cjs` respectively). I suspect this won't require a major version bump.

[2022-11-08 09:40] RubenVerborgh commented on #1097
Nah it should be fine; and in any case our default for the next major (which is currently on a fork).

[2022-11-08 12:57] #1106 closed

[2022-11-08 14:32] #1097 closed

[2022-11-09 09:34] #949 closed

[2022-11-09 12:16] rubensworks commented on #196
We seem to have good test helpers now.

[2022-11-09 12:16] #196 closed

[2022-11-09 12:17] rubensworks commented on #295
Duplicate of #1054

[2022-11-09 12:17] #295 closed

[2022-11-09 12:21] rubensworks commented on #582
Closing due to staleness.
Happy to re-open in case someone is willing to take this up.

[2022-11-09 12:21] #582 closed

[2022-11-09 12:22] rubensworks commented on #817
Does this problem still occur?

[2022-11-09 12:23] rubensworks commented on #904
I assume this issue is resolved?

[2022-11-09 12:23] #904 closed

[2022-11-09 12:24] rubensworks commented on #907
Closing this now that v2 has been released.
Feel free to open new issues for the things not addressed.

[2022-11-09 12:25] rubensworks commented on #911
What is still needed to close this issue @jeswr?

[2022-11-09 12:26] rubensworks commented on #929
Since this issue doesn't require any impl in comunica, I'm assuming this can be closed.

[2022-11-09 12:26] #929 closed

[2022-11-09 12:27] rubensworks commented on #660
Duplicate of #930

[2022-11-09 12:27] #660 closed

[2022-11-09 12:28] rubensworks commented on #964
Considering this resolved. Feel free to re-open if this is not the case.

[2022-11-09 12:28] #964 closed

[2022-11-09 12:28] rubensworks commented on #970
Considering this resolved. Feel free to re-open if this is not the case.

[2022-11-09 12:28] #970 closed

[2022-11-09 12:29] rubensworks commented on #971
@jeswr Could you split this issue so we can place bounties on the separate parts?

[2022-11-09 12:31] rubensworks commented on #996
Considering this resolved. Feel free to re-open if this is not the case.

[2022-11-09 12:31] #996 closed

[2022-11-09 12:32] rubensworks commented on #997
Closing this, now that lerna is actively being maintained again.

[2022-11-09 12:32] #997 closed

[2022-11-09 13:30] rubensworks commented on #1031
Considering this resolved.

[2022-11-09 13:30] #1031 closed

[2022-11-09 13:34] rubensworks commented on #1058
Closing this. Feel free to re-open if you have concrete suggestions.

[2022-11-09 13:34] #1058 closed

[2022-11-09 13:35] rubensworks commented on #1061
Also related to #980

[2022-11-09 13:37] #1083 closed

[2022-11-09 13:38] #1086 closed

[2022-11-13 10:49] jeswr opened #1112 "Webpack bugs when building for node"
#### Issue type:

- :bug: Bug

____
#### Description:

I am unable to use webpack to minify comunica for node applications (I have now spend a fair deal of time trying). I've created a repo with a minimal example of some failures that I am observing [here](https://github.com/jeswr/comunica-webpack-failure-node) based on [this part](https://github.com/comunica/jQuery-Widget.js/blob/4540ecda35dbd667

[2022-11-14 12:39] #1112 closed

[2022-11-15 15:51] mvanbrab commented on #817
@rubensworks Yes, still there. I update my test case to your earlier suggestions and made new observations. Details in my test repo at https://github.com/mvanbrab/comunica-test-knows/blob/master/OBSERVATIONS.md#2022-11-15.

In a nutshell: still inconsistent for source https://ben.de-meester.org/; inconsistency preceeded by a `socket hang up` error.

The `socket hang up` error is not thrown back to

[2022-11-15 16:04] rubensworks commented on #817
This reminds me of a problem that @elsdvlee ran into recently.

So this is definitely something that needs to be looked into at someone.

[2022-11-15 16:55] mvanbrab opened #1114 "return type of bindingsStreamToGraphQl is wrong"
#### Issue type:

- :bug: Bug

____
#### Description:
The return type is set to Promise<string>, but it should be Promise<any>.

____
#### Environment:
| software         | version
| ---------------- | -------
| Comunica Engine  | 2.4.3
| node             | v16.18.1
| npm              | 8.19.2
| yarn             | 1.22.19
| Operating System | linux (Linux 5.15.0-52-generic)

#### Observation:

Thi

[2022-11-15 17:00] mvanbrab commented on #817
As a reminder: updated output in the test app of `node ./node_modules/@comunica/actor-init-sparql/bin/query.js -v`
| software            | version
| ------------------- | -------
| Comunica Init Actor | 1.22.3
| node                | v16.18.1
| npm                 | 8.19.2
| yarn                | 1.22.19
| Operating System    | linux (Linux 5.15.0-52-generic)

So: still in version 1.x

[2022-11-15 17:31] rubensworks commented on #817
Could you try using `@comunica/query-sparql` in the 2.x range?

[2022-11-16 07:11] mvanbrab commented on #817
I'll make a branch in my test repo for that. This will move away the repo from its original intention: to troubleshoot in an isolated way a behaviour found in Walder, but it'll be a good indication for possible Comunica problem in v2.x. I'll report back here.

[2022-11-16 07:24] rubensworks commented on #1114
Should be an easy fix, replacing `Promise<string>` with `Promise<any>` in https://github.com/comunica/comunica/blob/b84898f73a1a2c1fc413b51b2facacfd6bb729e4/packages/actor-query-result-serialize-tree/lib/ActorQueryResultSerializeTree.ts#L34-L36.
PR is welcome!

[2022-11-16 07:27] mvanbrab commented on #1114
I'll do.

[2022-11-16 12:19] mvanbrab commented on #817
Unfortunately, it's there with Comunica v2.x as well. See the [observations](https://github.com/mvanbrab/comunica-test-knows/blob/comunicav2/OBSERVATIONS.md#2022-11-16) on  [my migrated test](https://github.com/mvanbrab/comunica-test-knows/blob/comunicav2/index.js).

[2022-11-16 12:25] rubensworks commented on #817
Thanks for checking. Good to know the problem still occurs.

[2022-11-17 06:36] #1114 closed

[2022-11-17 17:24] rubensworks opened #1119 "bindingsStreamToGraphQl export is broken"
#### Issue type:

- :bug: Bug

____
#### Description:

Since Comunica 2.5.0, the `bindingsStreamToGraphQl`, which seems to be caused by the change in `actor-query-result-serialize-tree/lib/index.ts` that were done in https://github.com/comunica/comunica/commit/ade1186d091072c074e02d98172753d00a783e5f.

@jeswr I missed this change myself when reviewing the PR, but AFAICS, this change is in fact inc

[2022-11-18 00:29] jeswr opened #1121 "Ensure all files are tested; including index exports."
#### Issue type:

To prevent bugs like #1119 the jest config should add a `collectCoverageFrom` parameter to the jest config that includes all files that are to be built and packaged; in particular the `index.ts` files that currently re-export certain functions but are untested.

____
#### Description:

[2022-11-18 00:30] jeswr commented on #1119
I accidentally introduced it when fixing lint errors created by one of the new `import` rules in the eslint upgrade.

[2022-11-18 08:37] #1121 closed

[2022-11-21 06:31] jeswr commented on #984
I've now released https://www.npmjs.com/package/shaclc-parse so parsing support can now be added

[2022-11-24 06:10] #911 closed

[2022-11-24 06:11] jeswr opened #1123 "Blank Node Scoping"
#### Issue type:

- :heavy_plus_sign: Feature request

This is a feature request for blank node scoping in documents - for details see discussion in https://github.com/comunica/comunica/issues/911

____
#### Description:

[2022-11-24 07:14] rubensworks commented on #1123
Could you summarize the issue in the main post?
Might be a bit confusing for people interested in this issue having to read through all of #911 first.

[2022-11-24 12:52] gvanderh opened #1124 "Query processing issue with certain FILTERs"
[code]

Entered in the UI, the query above is serialized and sent to the endpoint as follows:

`"query": "SELECT+?o+?p+?s+WHERE+{\n++SELECT+?o+?p+?s+WHERE+{\n++++?o+?p+?s.\n++++FILTER(\"2021-10-21\"^^<http://www.w3.org/2001/XMLSchema#dateTime>+<+?s)\n++}\n}"`

Note the duplicated SELECT WHERE.

[2022-11-24 12:55] rubensworks commented on #1124
Might be an issue in this actor: https://github.com/comunica/comunica/blob/master/packages/actor-query-operation-sparql-endpoint/lib/ActorQueryOperationSparqlEndpoint.ts

[2022-11-25 07:20] rubensworks commented on #1044
Hi @andrewzhurov, just checking in to see how you are progressing with this bounty?

[2022-11-26 15:49] andrewzhurov commented on #1044
Hi @rubensworks, I had a shift in priorities and work got on pause, sadly.
I've uploaded WIP so far and created a draft PR.
Logic is written and manually tested on Linux to work. That bit was pretty easy.
It seems it should work on MacOS and Windows as well, since it [relies on `path.resolve`](https://github.com/comunica/comunica/blob/ef2a2955f0ac7e6c1f8e55e85e60489f5b5445fd/packages/actor-init-qu

[2022-11-28 06:30] rubensworks commented on #1044
Thanks for the update @andrewzhurov!